<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectEp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Input</display-name>
    <servlet-name>Input</servlet-name>
    <servlet-class>Input</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Input</servlet-name>
    <url-pattern>/Input</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidation</display-name>
    <servlet-name>LoginValidation</servlet-name>
    <servlet-class>LoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidation</servlet-name>
    <url-pattern>/LoginValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpValidaton</display-name>
    <servlet-name>EmpValidaton</servlet-name>
    <servlet-class>EmpValidaton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpValidaton</servlet-name>
    <url-pattern>/EmpValidaton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Leader</display-name>
    <servlet-name>Leader</servlet-name>
    <servlet-class>Leader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Leader</servlet-name>
    <url-pattern>/Leader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager</display-name>
    <servlet-name>Manager</servlet-name>
    <servlet-class>Manager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accept</display-name>
    <servlet-name>Accept</servlet-name>
    <servlet-class>Accept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accept</servlet-name>
    <url-pattern>/Accept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reject</display-name>
    <servlet-name>Reject</servlet-name>
    <servlet-class>Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptMan</display-name>
    <servlet-name>AcceptMan</servlet-name>
    <servlet-class>AcceptMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptMan</servlet-name>
    <url-pattern>/AcceptMan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectMan</display-name>
    <servlet-name>RejectMan</servlet-name>
    <servlet-class>RejectMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectMan</servlet-name>
    <url-pattern>/RejectMan</url-pattern>
  </servlet-mapping>
</web-app>